<component name="libraryTable">
  <library name="spring-aop">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-4.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aspects-4.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-4.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-4.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-support-4.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-4.0.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-4.0.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>